.mainContainer {
  margin: 0 32px;
}

.zippiaLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zippiaLogo img {
  max-width: 320px;
  height: auto;
  margin: 64px;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin: 32px; */
  gap: 16px;
}

.filterContainer select {
  padding: 8px;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 4px;
}

.jobsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.jobsContainer li {
  background-color: #151515;
  height: 180px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 240px 1fr 120px;
  padding: 24px;
  gap: 32px;
  margin-bottom: 24px;
  border-radius: 8px;
  border: 1px solid #333;
  transition: 0.3s;
}

.jobsContainer li:hover {
  border: 1px solid #85e;
}

.jobsContainer li h3 {
  color: #cdadff;
  margin-bottom: 8px;
  font-size: 1.25rem;
}

.jobsContainer li span {
  font-size: 1.025rem;
  font-style: italic;
}

.jobsContainer li button {
  background-color: #85e;
  border: none;
  border-radius: 4px;
  align-self: flex-end;
  padding: 8px;
  cursor: pointer;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.jobsContainer li button:hover {
  background-color: #a7f;
}

.endList {
  text-align: center;
  margin: 32px;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .jobsContainer li {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .jobsContainer li button {
    padding: 12px 38px;
  }
}
